.App {
  max-width: 90vw;
  margin: 2rem auto;
}

.Section {
  display: flex;
  align-items: center;
}

.cell {
  padding: 1rem;
  width: 50%;
  display: flex;
  border: 1px solid;
}


* {
  box-sizing: border-box;
}


.RoomsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.Card {
  padding: 1rem;
  width: 32%;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.Card__row {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
}

.Card__text {
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}